tags
__pycache__/*
__pycache__
.config/EasyConnect
.config/EasyConnect/*
.config/nautilus
.config/nautilus/*
.config/pulse
.config/pulse/*
.config/google-chrome
.config/google-chrome/*
.config/gnome-initial-setup-done
.config/gnome-initial-setup-done/*
.config/gedit
.config/gedit/*
.config/SogouPY
.config/SogouPY/*
.config/Code
.config/Code/*
.config/dconf
.config/dconf/*

# 输入法:
.config/fcitx
.config/fcitx/*

.config/google_chrome
.config/google_chrome/*
.config/gnome-session/
.config/gnome-session/*

# 变成了submodul？加不加这两行，都一样
# zplug
# zplug/*

.config/ptpython/history
*.zwc



