[submodule "/home/wf/dot_file/zsh-git-prompt"]
	path = /home/wf/dot_file/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "/home/wf/dot_file/.config/tmux/plugins/tpm"]
	path = /home/wf/dot_file/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
